* {
    text-align: center;
    padding: 0;
    margin: 0;
    color: white;
    background-color: rgb(111, 177, 238);
}

h1 {
    background-color: blue;
    padding: 1rem;
}

select, button, option {
    color: black;
    background-color: rgb(173, 213, 250);
    display: block;
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 1.5fr 5fr 1.5fr;
    column-gap: 5rem;
}

section {
    padding: 1rem;
}

table {
    width: 100%;
    background-color: blue;
}

th {
    background-color: blue;
}

image {
    border-radius: 1rem;
}

#product-info * {
    padding-bottom: .25rem;
}

td, th, table {
    border: 1px solid blue;
}
